In [1]:
import pandas as pd
compounds = pd.read_csv('homePage_data.csv')
pd.set_option('display.max_columns', None)
compounds.head()

,id,compound_name,is_super,slug,properties_count,image_url,min_price,max_price,min_unit_area,max_unit_area,available_bathrooms,available_bedrooms,developer_id,developer_name,developer_logo,area_id,area_name,sponsored,max_installment_years,min_down_payment,min_ready_by,properties_ids,sum_10_properties_min_price,lat,long,has_offer,has_launches,is_launch,offer_title,limited_time_offer,property_types,property_types_count
0,195,Mountain View ICity New Cairo,True,195-mountain-view-icity-new-cairo,7,https://s3.eu-central-1.amazonaws.com/prod.ima...,7584822,14559080,130,295,[3],[3],6,DMG,https://s3.eu-central-1.amazonaws.com/prod.ima...,2,New Cairo,0,9.0,758483.0,2027-01-01,"[35486, 35487, 35489, 35490, 35495, 35497, 35502]",117896389.0,30.065182,31.593508,False,False,False,"5% Down Payment , instalments up to 9 years",True,"['Apartment', 'Villa', 'Townhouse', 'Duplex', ...","[{'id': 21, 'name': 'Apartment', 'count': 41, ..."
1,274,ZED,True,274-zed-el-sheikh-zayed-ora,7,https://s3.eu-central-1.amazonaws.com/prod.ima...,10273202,20284992,160,301,"[3, 4]","[3, 4]",85,Ora Developers,https://s3.eu-central-1.amazonaws.com/prod.ima...,26,El Sheikh Zayed,0,8.0,513661.0,2024-10-31,"[41998, 41999, 42002, 42110, 42111, 42217, 42528]",129709414.0,30.046608,31.003101,False,False,False,NaN,True,"['Apartment', 'Duplex', 'Penthouse', 'Studio']","[{'id': 21, 'name': 'Apartment', 'count': 10, ..."
2,202,Bloomfields,True,202-bloomfields-tatweer-misr-mostakbal-city,76,https://s3.eu-central-1.amazonaws.com/prod.ima...,3664000,16210000,70,287,"[1, 2, 3, 4]","[1, 2, 3, 4]",33,Tatweer Misr,https://s3.eu-central-1.amazonaws.com/prod.ima...,10,Mostakbal City,0,8.0,209350.0,2023-12-30,"[17436, 31836, 31839, 31844, 31847, 31848, 318...",35147621.0,30.070208,31.649590,False,False,False,NaN,True,"['Apartment', 'Duplex', 'Studio']","[{'id': 21, 'name': 'Apartment', 'count': 76, ..."
3,223,Badya,True,223-badya-palm-hills,42,https://s3.eu-central-1.amazonaws.com/prod.ima...,4782600,31084000,107,499,"[2, 3, 4, 6, 7, 8]","[2, 3, 4, 5, 6]",16,Palm Hills Developments,https://s3.eu-central-1.amazonaws.com/prod.ima...,1,6th of October City,0,10.0,0.0,2023-11-29,"[9742, 11180, 13044, 16026, 19171, 19199, 1961...",44446502.0,29.854789,30.907116,False,False,False,NaN,True,"['Apartment', 'Villa', 'Townhouse', 'Penthouse...","[{'id': 21, 'name': 'Apartment', 'count': 48, ..."
4,148,Palm Hills New Cairo,True,148-palm-hills-new-cairo,7,https://s3.eu-central-1.amazonaws.com/prod.ima...,18886000,72968000,190,611,"[4, 7, 8]","[3, 4, 6]",16,Palm Hills Developments,https://s3.eu-central-1.amazonaws.com/prod.ima...,2,New Cairo,0,9.0,944300.0,2022-12-30,"[22676, 23315, 28769, 28770, 32932, 37716, 42215]",487964000.0,30.059658,31.598640,False,False,False,NaN,True,"['Apartment', 'Villa', 'Twinhouse', 'Townhouse']","[{'id': 21, 'name': 'Apartment', 'count': 13, ..."

In [2]:
#validate each compound not located in more than one area
area = {}
for compound_id in compounds['id']:
    if compound_id not in area.keys():
        try:
            area[compound_id] = int(compounds[compounds['id'] == compound_id]['area_id'])
        except Exception as e:
            print(e)
            print("it's not okay only series of single element could parse to int")
#this code in okay then relation should be one two many, many compounds could locate in one area

/tmp/ipykernel_12745/3860748572.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  area[compound_id] = int(compounds[compounds['id'] == compound_id]['area_id'])

In [27]:
#validate each compound has only one developer
compound_developer = {}
for compound_id in compounds['id']:
    if compound_id not in compound_developer.keys():
        try:
            compound_developer[compound_id] = int(compounds[compounds['id'] == compound_id]['developer_id'])
        except Exception as e:
            print(e)
            print("it's not okay only series of single element could parse to int")
#this code in okay then relation should be one two many, one develpor could develop many compounds

/tmp/ipykernel_105967/385116800.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  compound_developer[compound_id] = int(compounds[compounds['id'] == compound_id]['developer_id'])

In [3]:
units = pd.read_csv('detailed_compounds_data.csv')
units.head()

,propertyID,propertyName,propertyTypeID,propertyTypeName,compoundID,areaID,develperID,finishing,min_unit_area,max_unit_area,min_price,max_price,max_installment_years,min_installments,min_down_payment,number_of_bathrooms,number_of_bedrooms,min_ready_by,sponsored,new_property,company,resale,financing,type,has_offers,offer_title,limited_time_offer,in_quick_search,recommended,manual_ranking,completeness_score,ranking_type,recommended_financing,property_ranking,compound_ranking,tags
0,35502,Millennial L Park middle for sale in Mountain ...,21,Apartment,195,2,6,not_finished,135.0,135.0,7584822.0,7584822.0,9.0,63206,758482,3.0,3.0,2027-01-01,0,False,NaN,False,False,NaN,False,"5% Down Payment , instalments up to 9 years",False,2,NaN,NaN,1,fast_moving,14842.0,1.0,9.0,[]
1,35495,Millennial A Park middle for sale in Mountain ...,21,Apartment,195,2,6,not_finished,135.0,135.0,8015714.0,8015714.0,9.0,66797,801571,3.0,3.0,2027-01-01,0,False,NaN,False,False,NaN,False,"5% Down Payment , instalments up to 9 years",False,2,NaN,NaN,1,fast_moving,14842.0,4.0,9.0,[]
2,35497,Millennial L Park corner for sale in Mountain ...,21,Apartment,195,2,6,not_finished,145.0,145.0,8219763.0,8219763.0,9.0,68497,821976,3.0,3.0,2027-01-01,0,False,NaN,False,False,NaN,False,"5% Down Payment , instalments up to 9 years",False,2,NaN,NaN,1,fast_moving,14842.0,2.0,9.0,[]
3,35490,Millennial A Park corner for sale in Mountain ...,21,Apartment,195,2,6,not_finished,130.0,130.0,8505952.0,8505952.0,9.0,70882,850595,3.0,3.0,2027-01-01,0,False,NaN,False,False,NaN,False,"5% Down Payment , instalments up to 9 years",False,2,NaN,NaN,1,fast_moving,14842.0,7.0,9.0,[]
4,35487,IVilla Park middle for sale in Mountain View I...,3,Duplex,195,2,6,not_finished,270.0,270.0,13776405.0,13776405.0,9.0,114803,1377640,3.0,3.0,2027-01-01,0,False,NaN,False,False,NaN,False,"5% Down Payment , instalments up to 9 years",False,2,NaN,NaN,1,fast_moving,14842.0,3.0,9.0,[]

In [8]:
units.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2880 entries, 0 to 2879
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   propertyID             2880 non-null   int64
 1   propertyName           2880 non-null   object
 2   propertyTypeID         2880 non-null   int64
 3   propertyTypeName       2880 non-null   object
 4   compoundID             2880 non-null   int64
 5   areaID                 2880 non-null   int64
 6   develperID             2880 non-null   int64
 7   finishing              2862 non-null   object
 8   min_unit_area          2878 non-null   float64
 9   max_unit_area          2878 non-null   float64
 10  min_price              2878 non-null   float64
 11  max_price              2878 non-null   float64
 12  max_installment_years  2389 non-null   float64
 13  min_installments       2880 non-null   int64
 14  min_down_payment       2880 non-null   int64
 15  number_of_bathrooms    2745 non-null   float64
 16  number_of_bedrooms     2852 non-null   float64
 17  min_ready_by           2865 non-null   object
 18  sponsored              2880 non-null   int64
 19  new_property           2880 non-null   bool
 20  company                0 non-null      float64
 21  resale                 2880 non-null   bool
 22  financing              2880 non-null   bool
 23  type                   0 non-null      float64
 24  has_offers             2880 non-null   bool
 25  offer_title            36 non-null     object
 26  limited_time_offer     2880 non-null   bool
 27  in_quick_search        2880 non-null   int64
 28  recommended            0 non-null      float64
 29  manual_ranking         0 non-null      float64
 30  completeness_score     2880 non-null   int64
 31  ranking_type           1217 non-null   object
 32  recommended_financing  1217 non-null   float64
 33  property_ranking       1217 non-null   float64
 34  compound_ranking       1217 non-null   float64
 35  tags                   2880 non-null   object
dtypes: bool(5), float64(14), int64(10), object(7)
memory usage: 711.7+ KB

In [14]:
# validate that min_price is equel to max price to define one attribute called price
import numpy as np
# Assuming units is a Pandas DataFrame
result = np.nansum(units['max_price'] - units['min_price'])
print(result)
# there is diff between min and max let figure out which unit is diff
diff_price = units[units['max_price']  != units['min_price']]
diff_price.head()

1684599443.0

,propertyID,propertyName,propertyTypeID,propertyTypeName,compoundID,areaID,develperID,finishing,min_unit_area,max_unit_area,min_price,max_price,max_installment_years,min_installments,min_down_payment,number_of_bathrooms,number_of_bedrooms,min_ready_by,sponsored,new_property,company,resale,financing,type,has_offers,offer_title,limited_time_offer,in_quick_search,recommended,manual_ranking,completeness_score,ranking_type,recommended_financing,property_ranking,compound_ranking,tags
5,35486,IVilla Middle corner for sale in Mountain View...,3,Duplex,195,2,6,not_finished,280.0,280.0,14144442.0,14396830.0,9.0,117870,1414444,3.0,3.0,2027-01-01,0,False,NaN,False,False,NaN,False,"5% Down Payment , instalments up to 9 years",False,2,NaN,NaN,1,fast_moving,14842.0,6.0,9.0,[]
6,35489,IVilla Middle middle for sale in Mountain View...,3,Duplex,195,2,6,not_finished,295.0,295.0,14359648.0,14559080.0,9.0,119663,1435964,3.0,3.0,2027-01-01,0,False,NaN,False,False,NaN,False,"5% Down Payment , instalments up to 9 years",False,2,NaN,NaN,1,fast_moving,14842.0,5.0,9.0,[]
7,12234,Office for sale in HeartWork in New Cairo by DMG,8,Office,337,2,6,not_finished,260.0,315.0,17608010.0,17938934.0,6.0,220100,880400,0.0,0.0,2026-05-30,0,False,NaN,False,False,NaN,False,NaN,False,2,NaN,NaN,1,business,14842.0,1.0,171.0,[]
8,13398,Office for sale in HeartWork in New Cairo by DMG,8,Office,337,2,6,not_finished,360.0,365.0,22459642.0,24069243.0,6.0,280745,1122982,0.0,0.0,2026-05-30,0,False,NaN,False,False,NaN,False,NaN,False,2,NaN,NaN,1,business,14842.0,3.0,171.0,[]
12,42217,Apartment for sale in ZED with 3 bedrooms in ...,21,Apartment,274,26,85,finished,160.0,160.0,10273202.0,10372928.0,8.0,96311,513660,3.0,3.0,2024-10-31,0,True,NaN,False,False,NaN,False,NaN,False,2,NaN,NaN,1,fast_moving,14527.0,6.0,15.0,[]

### Accordig to the last result one unit have diff price based on installments plan
### So our db table will have the two attributes

In [4]:
# check tag
print(units['tags'].unique())

# it's sotre one value could be a string

['[]' "['Nawy Now']" "['Resale']" "['إعادة بيع']"]